Brotli==1.2.0
ConfigArgParse==1.7.5
GitPython==3.1.46
ImageIO==2.37.3
appdirs==1.4.4
backports.zstd==1.3.0
cached-property==1.5.2
cuda-bindings==12.9.4
cuda-pathfinder==1.2.2
cuda-toolkit==12.8.1
depth-anything-3==0.0.0
docker-pycreds==0.4.0
eval_type_backport==0.3.1
gradio_client==2.4.0
groovy==0.1.2
jupyter_core==5.9.1
jupyterlab_widgets==3.0.16
lightglue==0.0
mdurl==0.1.2
moge==2.0.0
nvidia-cusparselt-cu12==0.7.1
opencv-python-headless==4.13.0.92
opt-einsum-fx==0.1.4
opt_einsum==3.4.0
pillow_heif==1.3.0
pre_commit==4.5.1
prettytable==3.17.0
pydantic_core==2.41.5
romatch==0.1.2
romav2==2.0.0
semantic-version==2.10.0
setproctitle==1.3.7
stack-data==0.6.3
unidepth==0.1
widgetsnbextension==4.0.15
